$nav-height: 80px;

@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: font_path('Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsBold';
	font-weight: 700;
	font-style: normal;
	src: font_path('Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsLight';
	font-weight: 300;
	font-style: normal;
	src: font_path('Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsItalic';
	font-weight: 500;
	font-style: italic;
	src: font_path('Poppins/Poppins-MediumItalic.ttf') format('truetype');
}
