<div class="container">
	<h1 class="title">About Me</h2>

	<p class="text-center my-1">I recently moved to New York from Atlanta with my dog, Wrigley.</p>
	<div class="text-center">
		<%= image_tag 'Wrigley.jpg', class: "rounded my-1", id: "wrigley" %>
	</div>

	<p  class="text-center my-1">During the summer of 2017, I attended the Ruby on Rails Code Immersion course at Tech Talent South. Since then, I have also learned the MERN stack through Codecademy Pro.</p>

	<h3 class="text-center">Skills</h3>
	<ul>
		<li>HTML</li>
		<li>CSS</li>
		<li>Sass</li>
		<li>Bootstrap</li>
		<li>Ruby</li>
		<li>Ruby on Rails</li>
		<li>JavaScript</li>
		<li>React.js</li>
		<li>Express.js</li>
		<li>Node.js</li>
		<li>PostgreSQL</li>
		<li>MySQL</li>
		<li>SQLite</li>
	</ul>

	<h3 class="text-center">Interests</h3>
	<ul>
		<li>Life-long tennis player</li>
		<li>Avid Science Fiction reader</li>
		<li>Constant podcast listener</li>
		<li>Frequent Home Cook</li>
				<ul>
					<li>American cuisine</li>
					<li>French cuisine</li>
					<li>Italian food</li>
				</ul>
	</ul>
</div>