<h2>Coding</h2>

<p>In 2017, I attended the Ruby on Rails Code Immersion course at Tech Talent South during the summer. Since then, I have also learned the MERN stack through Codecademy Pro.</p>

<h3>Interests</h3>
<ul>
	<li>Life-long tennis player</li>
	<li>Avid Science Fiction reader</li>
	<li>Constant podcast listener</li>
	<li>Frequent Home Cook</li>
			<ul>
				<li>American cuisine</li>
				<li>French cuisine</li>
				<li>Italian food</li>
			</ul>
</ul>
