<div class="jumbotron">
	<h1 class="home title">Hi, I'm Caitlin.</h1>
	<h2 class="home subtitle">I would love to build your website.</h2>
</div>

<div class="container">
	<%= link_to 'About me', about_path %>
	<%= link_to 'My Work', projects_path %>
	<%= link_to 'Contact Me', contact_path %>
</div>