<div class="jumbotron">
	<h1 class="home title">Hi, I'm Caitlin.</h1>
	<h2 class="home subtitle">I would love to build your website.</h2>
</div>

<div class="container">
	<section class="mission">
		<h3>I write full stack code with all kinds of technologies.</h3>
	</section>

	<div class="container">
		<section class="links">
			<div class="home-box">
				<%= link_to 'About me', about_path %>
			</div>
			<div class="home-box">
				<%= link_to 'My Work', projects_path %>
			</div>
			<div class="home-box">
				<%= link_to 'Contact Me', contact_path %>
			</div>
		</section>
	</div>
</div>