<div class="container">
	<div class="contact-confirmation">
		<h1 class="text-center">Thank you!</h1>
		<h3 class="text-center text-muted">Your information has been submitted and I will be contacting you soon.</h3>
		<div class="text-center">
			<%= link_to "Back to Home Page", root_path, class: "btn btn-info" %>
		</div>
	</div>
</div>
