<div class="container-fluid">
	<h1 class="contact-confirmation text-center my-4">Thank you!</h1>
	<p class="contact-confirmation text-center my-3">Your information has been submitted and I will be contacting you soon!</p>
</div>
