<div class="container">
	<div class="contact-confirmation d-flex flex-column align-items-center justify-content-center">
		<h1 class="title" id="contact-title">Thank you!</h1>
		<h3 class="text-center text-muted">Your information has been submitted and I will be contacting you soon.</h3>
		<div class="text-center my-5">
			<%= link_to "Back to Home Page", root_path, class: "btn btn-info btn-lg" %>
		</div>
	</div>
</div>
