<div class="container-fluid">
	<h1 class="projects title">New Project</h1>

	<%= render partial: 'form', project: @project %>

	<%= link_to 'Back', projects_path, class: "btn btn-outline-info" %>	
</div>