@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url('../../../vendor/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsBold';
	font-weight: 700;
	font-style: normal;
	src: url('../../../vendor/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsLight';
	font-weight: 300;
	font-style: normal;
	src: url('../../../vendor/assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsItalic';
	font-weight: 500;
	font-style: italic;
	src: url('../../../vendor/assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsRegular';
	font-weight: 400;
	font-style: normal;
	src: url('../../../vendor/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}