.project-box {
	border: 1px solid black;
	width: 40vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.project-thumbnail {
	margin: 2vh auto;
	border: 0.5vh solid $white;
}

.project-name {
	font-size: 2em;
	text-align: center;
	margin-bottom: .25em;
}

.btn-modal {
	margin: 2vh 0;
}

/* Modal Styles */
.modal {

}

.modal-content {
	max-width: 100%;
	text-align: center;
	padding: 3em 2em;
}

.modal-title {
	font-size: 3em;
	margin-bottom: 1em;}

.screenshots-gallery {
	max-width: 90%;
	height: auto;
	border: 0.5vh solid $white;
}

.project-description {
	text-align: center;
	margin: 2vh;
}

.project-link {
	color: $black;
	text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
}

.slide-cover {
	background-color: $cyan;
	opacity: 0.5;
}