@import 'custom_fonts';

/* Home Page styles */

$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
	background-size: $size;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
}
@mixin parallax-background($file) {
	background: url($file) no-repeat center center fixed;
	@include background-size(cover);
}

#background-1 {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1px);
	overflow-x: hidden;
	overflow-y: auto;
	@include parallax-background('../images/nyc_skyline_wide.jpg');
}

#mission {
	background-color: rba(255, 255, 255, 0.8);
	width: 100%;
	margin: $center-margin;
	padding: 10em 0;
	text-align: center;
}

#background-2 {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1px);
	overflow-x: hidden;
	overflow-y: auto;
	@include parallax-background('../images/code_pic_1.jpg');
}

#background-1, #background-2 {
	h1, h2, span.fa-stack.fa-2x {
		opacity: 0.8;
		text-align: center;
		transform: translateZ(-2px) scale(2);
		line-height: 3em;
	}
}

#background-1, #background-2 {
	h1 {
		font: 'PoppinsBold';
		font-size: 5rem;
		font-weight: bold;
	}
}

#background-1, #background-2 {
	h2 {
		font: 'PoppinsBold';
		font-size: 4rem;
		font-weight: bold;
	}
}

#content-1, #content-2 {
	width: 100%;
	height: $parallax-height;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#content-1 {
	background-color: rgba(255, 255, 255, 0.45);
}

span.fa-stack.fa-2x {
	margin-top: 2em;
}

a#jump-to-links {
	color: $black;
}

a#jump-to-links:hover {
	color: $cyan;
}

i.fas.fa-arrow-down.fa-stack-1x.fa-inverse {
	color: $white;
}

#content-2 {
	background-color: rgba(15, 15, 15, 0.35);
	overflow-x: hidden;
	overflow-y: hidden;
}

.home-text {
	color: $white;
	opacity: 1;
	width: 70%;
	padding: 3.25% 0;
	margin: $center-margin;
	font: 'PoppinsRegular';
	font-size: 4.25rem;
	text-align: center;
	transform: translateZ(-2px) scale(2);
	letter-spacing: 0.45em;
}

.links {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 25vh 0;
}

a.link-box {
	color: black;
	text-decoration: none;
	border: .25em solid white;
	&:hover {
		color: black;
		text-decoration: underline;
		border: .25em solid black;
	}
}

.card-title {
	text-align: center;
}

/*About page styles*/

.oval-image-group {
	display: flex;
	justify-content: center;
}

#cyan-circle {
	background-color: $cyan;
	width: 30vh;
	height: 35vh;
	border-radius: 100%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.oval-picture {
	width: 25vh;
	height: 30vh;
	border-radius: 100%;
	border: 1vh solid $white;
}

#pink-circle {
	background-color: $pink;
	width: 30vh;
	height: 35vh;
	border-radius: 100%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.coding-logo-group {
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	justify-content: space-around;
}

.coding-logo {
	max-height: 8vh;
	margin: 2vh;
}

#about-me, #coding-background, #skills, #other-interests {
	margin: 9vh auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Responsive Styles for mobile devices */

@media (max-width: 576px) {
	
}