@import 'custom_fonts';
$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
	background-size: $size;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
}
@mixin parallax-background($file) {
	background: url($file) no-repeat center center fixed;
	@include background-size(cover);
}

#background-1 {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1px);
	overflow-x: hidden;
	overflow-y: auto;
	@include parallax-background('../images/nyc_city_pic.jpg');
}

#mission {
	background-color: rba(255, 255, 255, 0.8);
	width: 100%;
	margin: $center-margin;
	padding: 10em 0;
	text-align: center;
}

#background-2 {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1px);
	overflow-x: hidden;
	overflow-y: auto;
	@include parallax-background('../images/code_pic_1.jpg');
}

#background-1, #background-2 {
	h1, h2, span.fa-stack.fa-2x {
		opacity: 0.8;
		text-align: center;
		transform: translateZ(-2px) scale(2);
		line-height: 3em;
	}
}

#background-1, #background-2 {
	h1 {
		font: 'PoppinsBold';
		font-size: 5rem;
		font-weight: bold;
	}
}

#background-1, #background-2 {
	h2 {
		font: 'PoppinsBold';
		font-size: 4rem;
		font-weight: bold;
	}
}

#content-1, #content-2 {
	width: 100%;
	height: $parallax-height;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#content-1 {
	background-color: rgba(255, 255, 255, 0.15);
}

span.fa-stack.fa-2x {
	margin-top: 2em;
}

#content-2 {
	background-color: rgba(15, 15, 15, 0.35);
}

.home-text {
	color: $white;
	opacity: 1;
	width: 70%;
	padding: 3.25% 0;
	margin: $center-margin;
	font-size: 4.25rem;
	text-align: center;
	transform: translateZ(-2px) scale(2);
	font-weight: 200;
	letter-spacing: 0.48em;
}

.links {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 25vh 0;
}

a.link-box {
	color: black;
	text-decoration: none;
	&:hover {
		color: black;
		text-decoration: underline;
		border: .25em solid black;
	}
}

.card-title {
	text-align: center;
}

#wrigley {
	width: 40%;
	height: auto;
}