@import 'custom_fonts';
$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
	background-size: $size;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
}
@mixin parallax-background($file) {
	background: url($file) no-repeat center center fixed;
	@include background-size(cover);
}

html, body {
	margin: 0;
	padding: 0;
}

.home {
	font-color: $white;
}

#background-1 {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1px);
	overflow-x: hidden;
	overflow-y: auto;
	@include parallax-background('../images/nyc_city_pic.jpg');
}

#mission {
	margin: $center-margin;
	padding: 5em 0;
}

#background-2 {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1px);
	overflow-x: hidden;
	overflow-y: auto;
	@include parallax-background('../images/code_pic_1.jpg');
}


#background-1, #background-2 {
	h1 {
		letter-spacing: 0.06em;
		opacity: 0.9;
		text-align: center;
		transform: translateZ(-2px);
			}
	h2 {
		letter-spacing: 0.06em;
		opacity: 0.9;
		text-align: center;
		transform: translateZ(-2px);
	}
}

#home-text {
	width: 70%;
	padding: 5%;
	margin: $center-margin;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
}

.links {
	padding: 8em 0;
}

a.link-box {
	color: black;
	text-decoration: none;
	&:hover {
		color: black;
		text-decoration: underline;
		border: .25em solid black;
	}
}

.card-title {
	text-align: center;
}

#wrigley {
	width: 40%;
	height: auto;
}