@import "custom_styles/custom_fonts";
@import "custom_styles/shared";
@import "custom_styles/welcome";
@import "custom_styles/projects";

html, body {
	font-family: 'Poppins', 'Arial', sans-serif;
	font-size: 14px;
	margin: 0;
}

a {
	color: #FFF;
	text-decoration: none;
}