@import "base/mixins.scss";
@import "base/globals.scss";
@import "styles/welcome.scss";
@import "styles/contacts.scss";
@import "styles/projects.scss";
@import "styles/shared.scss";

html, body {
	font-family: 'Poppins', 'Arial', sans-serif;
	font-size: 14px;
	margin: 0;
}

main {
	margin-top: $nav-height;
}

a {
	color: #FFF;
	text-decoration: none;
}